drupal:
  root: "web"
  base_url: "http://web:8080/web"
  database:
    host: "mysql"
    port: "3306"
    name: "oesd"
    user: "root"
    password: ""
  sparql:
    host: "sparql"
    port: "8890"
  site:
    profile: "oe_profile_complete"
    name: "OESD"
  additional_settings: |
    $databases['sparql_default']['default'] = [
      'prefix' => '',
      'host' => getenv('DRUPAL_SPARQL_HOSTNAME'),
      'port' => getenv('DRUPAL_SPARQL_PORT'),
      'namespace' => 'Drupal\\Driver\\Database\\sparql',
      'driver' => 'sparql',
    ];
selenium:
  host: "http://selenium"
  port: "4444"
  browser: "chrome"

profiles:
  oe_profile_minimal:
    install:
      - oe_corporate_blocks
    dependencies:
      - oe_authentication
      - oe_multilingual
      - oe_search
      - oe_theme_helper
  oe_profile_complete:
    install:
      - oe_content_news
      - oe_content_page
      - oe_content_persistent
      - oe_content_policy
      - oe_content_publication
      - oe_content_timeline_field
      - oe_content
      - oe_corporate_blocks
      - oe_editorial_content_lock
      - oe_editorial_corporate_workflow_translation_poetry
      - oe_editorial_corporate_workflow_translation
      - oe_editorial_corporate_workflow
      - oe_editorial_entity_version
      - oe_editorial
      - oe_link_lists_internal_source
      - oe_link_lists_manual_source
      - oe_link_lists_rss_source
      - oe_link_lists
      - oe_media_avportal
      - oe_media_demo
      - oe_media_embed
      - oe_media_webtools
      - oe_media
      - oe_multilingual_front_page
      - oe_multilingual_selection_page
      - oe_multilingual_url_suffix
      - oe_paragraphs_media
      - oe_paragraphs
      - oe_translation_poetry_html_formatter
      - oe_translation_poetry
      - oe_translation
      - oe_webtools_analytics_rules
      - oe_webtools_analytics
      - oe_webtools_cookie_consent
      - oe_webtools_geocoding
      - oe_webtools_globan
      - oe_webtools_laco_service
      - oe_webtools_maps
      - oe_webtools_media
      - oe_webtools_social_share
      - oe_webtools
      - oe_theme_content_news
      - oe_theme_content_page
      - oe_theme_content_policy
      - oe_theme_content_publication
    dependencies:
      - oe_authentication
      - oe_multilingual
      - oe_search
      - oe_theme_helper

commands:
  drupal:site-setup:
      - { task: "run", command: "drupal:permissions-setup" }
      - rm -rf web/profiles/custom/oesd
      - { task: "mkdir", dir: "web/profiles/custom/oesd" }
      - cd web/profiles/custom/oesd && ln -sf ../../../../* .
      - rm -f web/profiles/custom/oesd/web web/profiles/custom/oesd/vendor
      - { task: "run", command: "drupal:settings-setup" }
      - { task: "run", command: "drupal:drush-setup" }
  drupal:config-devel-enable:
  - { task: "symlink", from: "../../../resources/settings.devel.php", to: "${drupal.root}/sites/${drupal.site.sites_subdir}/settings.override.php" }
  drupal:config-devel-disable:
  - { task: "remove", file: "${drupal.root}/sites/${drupal.site.sites_subdir}/settings.override.php" }
