drupal:
  root: "web"
  base_url: "http://web:8080/web"
  database:
    host: "mysql"
    port: "3306"
    name: "oesd"
    user: "root"
    password: ""
  sparql:
    host: "sparql"
    port: "8890"
  site:
    profile: "oesd"
    name: "OESD"
  post_install:
    - "./vendor/bin/drush cr"
    # - "./vendor/bin/drush oe-multilingual:import-local-translations"
  additional_settings: |
    $databases['sparql_default']['default'] = [
      'prefix' => '',
      'host' => getenv('DRUPAL_SPARQL_HOSTNAME'),
      'port' => getenv('DRUPAL_SPARQL_PORT'),
      'namespace' => 'Drupal\\Driver\\Database\\sparql',
      'driver' => 'sparql',
    ];
selenium:
  host: "http://selenium"
  port: "4444"
  browser: "chrome"

commands:
  drupal:enable-openeuropa:
    - drush sql-drop -y
    - ./vendor/bin/run toolkit:install-clean
    - drush en -y oe_authentication
    - drush en -y oe_content_news
    - drush en -y oe_content_page
    - drush en -y oe_content_persistent
    - drush en -y oe_content_policy
    - drush en -y oe_content_publication
    - drush en -y oe_content_timeline_field
    - drush en -y oe_content
    # - drush en -y oe_corporate_blocks_demo
    - drush en -y oe_corporate_blocks
    - drush en -y oe_editorial_content_lock
    - drush en -y oe_editorial_corporate_workflow_translation_poetry
    - drush en -y oe_editorial_corporate_workflow_translation
    - drush en -y oe_editorial_corporate_workflow
    - drush en -y oe_editorial_entity_version
    # - drush en -y oe_editorial_workflow_demo
    - drush en -y oe_editorial
    - drush en -y oe_link_lists_internal_source
    - drush en -y oe_link_lists_manual_source
    - drush en -y oe_link_lists_rss_source
    - drush en -y oe_link_lists
    - drush en -y oe_media_avportal
    - drush en -y oe_media_demo
    - drush en -y oe_media_embed
    - drush en -y oe_media_webtools
    - drush en -y oe_media
    # - drush en -y oe_multilingual_demo
    - drush en -y oe_multilingual_front_page
    - drush en -y oe_multilingual_selection_page
    - drush en -y oe_multilingual_url_suffix
    - drush en -y oe_multilingual
    # - drush en -y oe_paragraphs_demo
    - drush en -y oe_paragraphs_media
    - drush en -y oe_paragraphs
    # - drush en -y oe_search_demo
    - drush en -y oe_search
    - drush en -y oe_translation_poetry_html_formatter
    # - drush en -y oe_translation_poetry_mock
    - drush en -y oe_translation_poetry
    - drush en -y oe_translation
    - drush en -y oe_webtools_analytics_rules
    - drush en -y oe_webtools_analytics
    - drush en -y oe_webtools_cookie_consent
    - drush en -y oe_webtools_geocoding
    - drush en -y oe_webtools_globan
    - drush en -y oe_webtools_laco_service
    - drush en -y oe_webtools_laco_widget
    - drush en -y oe_webtools_maps
    - drush en -y oe_webtools_media
    - drush en -y oe_webtools_social_share
    - drush en -y oe_webtools
    - drush en -y oe_theme_content_news
    - drush en -y oe_theme_content_page
    - drush en -y oe_theme_content_policy
    - drush en -y oe_theme_content_publication
    # - drush en -y oe_theme_demo
    - drush en -y oe_theme_helper
    # - drush en -y oe_theme_test
  drupal:site-setup:
      - { task: "run", command: "drupal:permissions-setup" }
      - { task: "mkdir", dir: "web/profiles/custom/oesd" }
      - cd web/profiles/custom/oesd && ln -sf ../../../../* .
      - rm -f web/profiles/custom/oesd/web web/profiles/custom/oesd/vendor
      - { task: "run", command: "drupal:settings-setup" }
      - { task: "run", command: "drupal:drush-setup" }
  profile:config-export:
      - ./vendor/bin/drush config:export -y
      - rsync -az --exclude 'system.site.yml' --exclude 'core.extension.yml' config/sync/ config/install --delete
      - "find ./config/install/ -type f -exec sed -i -e '/_core:/,+1d' {} \\;"
      - "find ./config/install/ -type f -exec sed -i -e '/^uuid: /d' {} \\;"
      - rm -Rf config/sync
